{% extends 'auth/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="pb-5" x-data="dashboardPage">

    <!-- Modals imported from components -->
    {% from 'components/modals-alpine.j2' import addTaskModal %}

    {{ addTaskModal() }}

    <div class="row row-cols-xl-3 row-cols-md-2 g-4 p-5 mx-0">

        <!-- Add project card -->
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-header"><h5 class="text-center fw-bold my-auto p-2" style="color: #e745bf">Add section</h5></div>
                <div class="card-body">
                    <div class="card-body h-100 d-flex justify-content-center align-items-center gap-2">
                        
                        <div class="input-group shadow mb-3">
                            <input type="text" class="form-control" placeholder="Type new section name" aria-label="Add section" aria-describedby="add-type-button" x-model="newTypeName">
                            <button class="btn btn-outline-success" type="button" id="add-type-button" @click="addType()"><i class="bi bi-plus-circle"></i> Add</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <template x-if="projects.length != 0">

            <template x-for="(project, i) in projects" :key="i">
                <div class="col">
                    <div class="card shadow h-100">
                        <div class="card-header pt-3 pb-2">
                            <div class="row">
                                <div class="col my-auto mt-0">
                                    <span class="badge bg-secondary rounded-pill" 
                                          x-show="project.tasks.length != 0" 
                                         :class="{'bg-success': calculateProgress(project.tasks) > 90,
                                                   'bg-danger': calculateProgress(project.tasks) < 50
                                           }" 
                                          x-text="calculateProgress(project.tasks) + '%'"></span>
                                </div>
                                <div class="col my-auto">
                                    <h5 class="card-title text-center fw-bold" style="color: #008E9B" x-text="project.name"></h5>
                                </div>
                                <div class="col my-auto text-end">
                                    <button type="button" class="btn rounded-pill pt-0" @click="openAddTaskModal(project)">
                                        <i class="bi bi-plus-circle text-success"></i>
                                    </button>
                                    <button type="button" class="btn rounded-pill pt-0" @click="deleteType(project.id)">
                                        <i class="bi bi-trash3-fill text-danger"></i>
                                    </button>
                                </div>
                            </div>
                            
                        </div>

                        <div class="card-body overflow-auto" style="height: 25vh;">

                            <template x-if="project.tasks.length > 0">
                           
                                <table class="table">
                                    <template x-for="(task, i) in project.tasks">
                                        <tbody class="text-start align-middle">
                                            <tr>
                                            <td>
                                                <span class="badge" x-text="i+1" 
                                                     :class="{'bg-primary': task.importance == 'low',
                                                              'bg-warning': task.importance == 'medium',
                                                              'bg-danger': task.importance == 'high'}"></span>
                                            </td>
                                            <td x-text="task.name" :class="task.progress == 1 ? 'text-decoration-line-through' : ''"></td>
                                            <td class="text-end">
                                                <button type="button" class="btn btn-sm btn-success rounded-pill" @click="markAsDone(task.id)" x-show="task.progress == 0">
                                                    <i class="bi bi-check-lg"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger rounded-pill" @click="markAsToDo(task.id)" x-show="task.progress == 1">
                                                    <i class="bi bi-x-lg"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm rounded-pill" @click="deleteTask(task.id, project.id)">
                                                    <i class="bi bi-trash3-fill text-danger"></i>
                                                </button>
                                            </td>
                                            </tr>                            
                                        </tbody>
                                    </template>
                                </table>

                            </template>

                            <template x-if="project.tasks.length == 0">

                                <div class="alert text-center my-auto" role="alert">
                                    <h4 class="alert-heading text-muted">There is nothing to show!</h4>
                                    <hr>
                                    <button class="btn btn-outline-success btn-sm rounded-pill w-100 mt-2" @click="openAddTaskModal(project)"><i class="bi bi-plus-circle"></i> Add first task</button>
                                  </div>

                            </template>
                            
                        </div>
                    </div>
                </div>
            </template>

        </template>
    </div>
</div>

<script>

    document.addEventListener('alpine:init', () => {

        Alpine.data('dashboardPage', () => ({
          projects: [],
          header: '',
          newTask: {name: '', importance: '', type_id: ''},
          newTypeName: '',
          init() {
            this.getProjects() // pobranie projektow z taskami
          },
          async getProjects() {
            const resp = await fetch('/types')
            const data = await resp.json()
            this.projects = data
          },

          // TASKS

          openAddTaskModal(project) {
            bootstrap.Modal.getOrCreateInstance('#addTaskModal').show()
            this.header = `Add task to - <b class="text-primary-emphasis">${project.name}</b>`
            this.newTask.type_id = project.id
          },

          async addTask() {
            const resp = await fetch(`/tasks`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify( this.newTask )
            })
            const data = await resp.json()

            if (resp.ok) { 
                this.getProjects() // pobranie projektow z taskami
                bootstrap.Modal.getOrCreateInstance('#addTaskModal').hide() // zamkniecie modala
                // Clear inputs
                this.newTask.name = ''
                this.newTask.importance = '',
                this.task_id = ''
                Swal.fire("Success!", resp.detail, 'success') // wyswietlenie komunikatu o sukcesie
            }
            else { Swal.fire("Sorry!", resp.detail, 'error') }
          },
          async deleteTask(taskId) {
            const resp = await fetch(`/tasks/${taskId}`, { method: 'DELETE' })
            const data = await resp.json()

            if (resp.ok) { 
                this.getProjects() // pobranie projektow z taskami
                Swal.fire("Success!", resp.detail, 'success')  // wyswietlenie komunikatu o sukcesie
            }
            else { Swal.fire("Sorry!", resp.detail, 'error') } // wyswietlenie komunikatu o porazce
          },

          // TYPES

          async addType() {
            const resp = await fetch(`/types`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify( this.newTypeName )
            })

            this.newTypeName = '' // usuniecie nazwy z inputa
            location.reload()
          },
          async deleteType(typeId) {
            const resp = await fetch(`/types/${typeId}`, { method: 'DELETE' })
            const data = await resp.json()

            if (resp.ok) { 
                this.getProjects()// pobranie projektow z taskami
                Swal.fire("Success!", resp.detail, 'success')  // wyswietlenie komunikatu o sukcesie
            }
            else { Swal.fire("Sorry!", resp.detail, 'error') } // wyswietlenie komunikatu o porazce
          },

          // PROGRESS

          async markAsDone(taskId) {
            const resp = await fetch(`/tasks/${taskId}`, {
                method: 'PATCH',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify( {progress: 1} )
            })
            const data = await resp.json()

            if (resp.ok) { 
                this.getProjects()// pobranie projektow z taskami
                Swal.fire("Success!", resp.detail, 'success')  // wyswietlenie komunikatu o sukcesie
            }
            else { Swal.fire("Sorry!", resp.detail, 'error') }
          },
          async markAsToDo(taskId) {
            const resp = await fetch(`/tasks/${taskId}`, {
                method: 'PATCH',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify( {progress: 0} )
            })
            const data = await resp.json()

            if (resp.ok) { 
                this.getProjects()// pobranie projektow z taskami
                Swal.fire("Success!", resp.detail, 'success')  // wyswietlenie komunikatu o sukcesie
            }
            else { Swal.fire("Sorry!", resp.detail, 'error') }
          },

          // FUNCTIONS

          calculateProgress(tasks) {
            const totalTasks = tasks.length;
            if (totalTasks > 1) {
                const totalProgress = tasks.reduce((acc, task) => acc + task.progress, 0);
                return totalProgress / totalTasks;
            }
            return 0
          },
        }))
    
      })

</script>

{% endblock body %}