{% macro addTaskModal() %}

<div class="modal fade" id="addTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTaskModalLabel">Add task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="taskName" class="form-label">Task name</label>
        <input type="text" id="taskName" class="form-control shadow mb-3" x-model="newTask.name">

        <label for="taskName" class="form-label">Importance</label>
        <select class="form-select shadow" aria-label="Default select example" x-model="newTask.importance">
          <option value="low" selected>Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" @click="addTask()"><i class="bi bi-plus-circle"></i> Add task</button>
      </div>
    </div>
  </div>
</div>

{% endmacro -%}
