{% extends 'auth/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="position-absolute top-50 start-50 translate-middle w-100" x-data="registrationPage">

  <div class="card border-0 shadow-lg mx-auto" style="width: 45%; background-color: rgba(107, 163, 114, 0.137);">

      <div class="card-body mx-3">

        <div class="row align-items-start my-2">
          <div class="col align-self-center">
            
          </div>
          <div class="col align-self-center">
            <h4 class="card-title text-center my-auto">Hi you!</h4>
          </div>
          <div class="col align-self-center text-end">
            <button type="button" 
                    @click="clearRequest()" 
                    class="btn btn-sm btn-outline-danger rounded-pill"
                    x-show="request.login != '' || request.email != '' || request.password != '' || password2 != ''"
                    @mouseover="clearButtonHtmlContent = 'Clear inputs'" 
                    @mouseover.away="clearButtonHtmlContent = ''" 
                    x-html="trashIcon + ' ' + clearButtonHtmlContent">
            </button>
          </div>
        </div>

        <hr>

        <div class="input-group w-100 mb-3">
          <label class="custom-label" for="login">Login</label>
          <input type="text" class="form-control rounded-pill shadow w-50" placeholder="loginExample123" id="login" maxlength="30" x-model="request.login">
          <p class="custom-info" x-text="request.login.length + '/' + 30"></p>
        </div>
        <div class="input-group w-100 mb-3">
          <label class="custom-label" for="login">Email address</label>
          <input type="text" class="form-control rounded-pill shadow w-50" placeholder="example@email.com" id="email" maxlength="120" x-model="request.email">
          <p class="custom-info" x-text="request.email.length + '/' + 120"></p>
        </div>
        <div class="input-group w-100 mb-3">
          <label class="custom-label" for="login">Password</label>
          <input type="password" class="form-control rounded-pill shadow w-50" placeholder="********" id="password" x-model="request.password">
          <p class="custom-info" x-show="request.password.length < 8"><i class="bi bi-info-circle text-danger"></i></p>
          <p class="custom-info" x-show="request.password.length >= 8"><i class="bi bi-check2-circle text-success"></i></p>
        </div>
        <div class="input-group w-100 mb-4">
          <label class="custom-label" for="login">Confirm password</label>
          <input type="password" class="form-control rounded-pill shadow w-50" placeholder="********" id="password2" x-model="password2">
          <p class="custom-info" x-show="request.password != password2 || password2 == ''"><i class="bi bi-info-circle text-danger"></i></p>
          <p class="custom-info" x-show="request.password == password2 && password2 != ''"><i class="bi bi-check2-circle text-success"></i></p>
        </div>
        <hr>
        <div class="form-check mb-3 text-center">
          <input class="form-check-input" type="checkbox" x-model="termsAgreement" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            I agree to the terms and conditions of personal data processing by Lublin University of Technology, 
            where it is used for scientific purposes.
          </label>
        </div>

          <div class="col-auto text-center">
            <button type="submit" class="btn btn-outline-success rounded-pill shadow-lg w-75 my-2"
                   :class="{'disabled': request.password != password2 || 
                                        termsAgreement == false ||
                                        request.password == '' && password2 == '' ||
                                        request.email == ''}" @click="register()">REGISTER</button>
          </div>  
    
      </div>
      
  </div>

</div>

<script>

  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 1000,
    timerProgressBar: true,
    didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  document.addEventListener('alpine:init', () => {

    Alpine.data('registrationPage', () => ({
      trashIcon: '<i class="bi bi-trash"></i>',
      clearButtonHtmlContent: '',
      request: {login: '', email: '', password: ''},
      password2: '',
      termsAgreement: false, 
      clearRequest() {
        this.request.login = ''
        this.request.email = ''
        this.request.password = ''
        this.password2 = ''
      },
      async register() {
        const resp = await fetch('/auth/users', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(this.request)
        })
        const data = await resp.json()

        this.clearRequest()

        if (resp.ok) {
          await Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Registered succesfully!',
            showConfirmButton: false,
            timer: 1500
          })
          window.location = '/auth/log-in'
        }
        else {
          Swal.fire(
              "Sorry! 😥",
              data.detail,
              'error'
          )
        }
      }
    }))

  })

</script>

{% endblock body %}